body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  background: #000;
}

.wrapper {
  position: relative;
  width: 60rem;
  height: 40rem;
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  transition: 0.5s ease-in-out;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: fit;
  flex-shrink: 0;
}

.btnFor {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4rem;
  right: 0.5rem;
  border-radius: 20px;
  background: rgb(25, 113, 255);
  transition: 0.2s ease-in-out;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}

.btnFor:hover {
  filter: brightness(0.8);
}

.btnFor:active {
  filter: brightness(0.7);
}

.btnPrev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4rem;
  left: 0.5rem;
  border-radius: 20px;
  background: rgb(25, 113, 255);
  transition: 0.2s ease-in-out;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}

.btnPrev:hover {
  filter: brightness(0.8);
}

.btnPrev:active {
  filter: brightness(0.7);
}

.currentSlideLabel {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 2px black;
}
